<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
{% extends "base.html" %}

{% block content %}
<h1 align="center" style="margin: 40px;">Конференция КФУ</h1>
<h4><a href="/static/Entangled_Tale.docx">Entangled_Tale.docx</a></h4>
<h4><a href="https://124476.github.io/Entangled-Tale/">Cайт Entangled_Tale</a></h4>
<h4><a href="https://github.com/mario12508/Entangled-Tale-pygame-project">Github игра</a></h4>
<h4><a href="https://github.com/124476/Entangled-Tale">Github сайта</a></h4>
<h4><a href="/static/Проект для конференции.pdf">Документация</a></h4>
<h4><a href="https://docs.google.com/presentation/d/1Hh3h3qaDxscyebSvDmZFe1ZBZLekxrwe/edit#slide=id.p1">Презентация</a></h4>
{% endblock %}

</body>
</html>